/*
Colors
Light blue: #18A9FA
Black: #000000
White: #FFFFFF
Blue: #3081cb
Muted Blue: #346ca0
Deep Blue: #02256a
Dark Blue: #1d4e7a
Darkest blue: #102b44
Hot Pink: #90096d
Pink: #c347a2
Dark Pink: #63064b
*/

/* Text */
body {
  font-family: oxygen, Helvetica, sans-serif;
  margin:0;

}

@font-face {
  src: url(fonts/Oxygen-Light.ttf);
  font-family: oxygen
}

.front {
  position: relative
}
.large-font {
  font-size: 140%;
}
.small-font {
  font-size: 70%;
}

.cross {
  text-decoration: line-through;
}

.white {
  color: white;
}

.oxygen {
  font-family: oxygen;
}

.bold {
  font-weight: bold;
}

/*Body background color*/
.bodybackground {
  background-color: #18A9FA
}

.textcenter{
  text-align: center
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%
}

.price-headset-image {
  /* Written by Quoc Dat Phung.
  Please don't change anything without letting me know*/
  border-radius: 25px;
  max-width: 50%;
  height: auto
}
.pricebox {
  /* Written by Quoc Dat Phung.
  Please don't change anything without letting me know*/
  text-align: center;
  position: relative;
  overflow:hidden;
  width: 25%;
  height: 150%;
  border: 1px solid red;
  background: #ffdddd;
  color: #880000;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px;
  transition: .5s ease;
}

.pricebox:hover {
  /* Written by Quoc Dat Phung.
  Please don't change anything without letting me know*/
  box-shadow: 7px 7px 7px;
  width: 35%;
  height: 175%;
  background: #ffa8a8
}

.pricebutton {
  /* Written by Quoc Dat Phung.
  Please don't change anything without letting me know*/
  border: none;
  color: black;
  font-weight: bold;
  background-color: #FEFFFE;
  box-shadow: 1px 1px 1px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.textbox
{
	position: relative;
	width: 1200px;
	height: 200px;
	margin: 15px auto;

}

.imagebox{
	position:relative;
	width: 200px;
	height: 200px;
	margin: 15px 0px auto;
}

.imagebox .imgbox{
	position: relative;
	width: calc(150px - 10px);
	height: calc(150px - 10px);
	background: #F0F8FF;
	float: left;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 100px;
}

.textbox .box
{
	position: relative;
	width: calc(300px - 10px);
	height: calc(150px - 10px);
	background: #F0F8FF;
	float: left;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 40px;
}


/* Navigation */

.navbar {
  overflow: hidden;
  background-color: #02256a;
}

.navbar img{
  float: left;
  height: 50px;
}

.navbar .navbarbutton {
  float: right;
  text-align: center;
  padding: 14px 16px;
}

.navbar .navbarbutton a{
  display: outside;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: 200ms;
}

.navbar .navbarbutton a:hover {
  background-color: #102b44;
}


/*--HOMEPAGE--*/
  #home-page .content{
    position: relative;
  }

  #home-page .home-background {
    max-width:100%;
    position:absolute;
    left:0;
  }

  #home-page .logo-container {
    position:relative;
    height:200px;
    text-align:center;
    width:100%;
  }

  #home-page .logo-container img.full-logo {
    height:100%
  }

  #home-page h1 {
    position:relative;
    left:0;
    widows: 100%;
    color:white;
    font-weight:100;
    text-align:center;
    font-size:2em;
  }

  /*Slideshow*/

/*Slideshow container*/
.slideshow-container {
  max-width:700px;
  position:relative;
  margin: auto;
}

/*Hide the images by default*/
.mySlides{
  display: none;
}

/* Next and previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius:0 3px 3px 0;
  user-select: none;
}

/* Position the 'next button' to the right*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#home-page .text {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  background:#346ca0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #63064b;
  transition: 200ms;
}

#home-page .text:hover {
  background:#102b44;
  box-shadow: 5px 5px 5px #63064b;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size:11px
  }
}
