/*
Colors
Light blue: #18A9FA
Black: #000000
White: #FFFFFF
Blue: #3081cb
Muted Blue: #346ca0
Deep Blue: #02256a
Dark Blue: #1d4e7a
Darkest blue: #102b44
Hot Pink: #90096d
Pink: #c347a2
Dark Pink: #63064b
*/

/*Body background color*/
.bodybackground {
  background-color: #18A9FA
}
.imagebackground{
  /*background-image: url("images/LucidLive_Logo.png");*/
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%
}

.pricebox {
  text-align: center;
  width: 25%;
  height: 100px;
  /*display: inline-block:block;*/
  border: 1px solid blue;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  background: #ffdddd;
  color: #880000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px
}

p.pricebox:hover {
  box-shadow: 7px 7px 7px
}

.textbox
{
	position: relative;
	width: 1200px;
	height: 200px;
	margin: 15px auto;
	
}

.imagebox{
	position:relative;
	width: 200px;
	height: 200px;
	margin: 15px 0px auto;
}

.imagebox .imgbox{
	position: relative;
	width: calc(150px - 10px);
	height: calc(150px - 10px);
	background: #F0F8FF;
	float: left;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 100px;
}

.textbox .box
{
	position: relative;
	width: calc(300px - 10px);
	height: calc(150px - 10px);
	background: #F0F8FF;
	float: left;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 40px;
}



